div.container {
  margin: 0 auto;
  /* width: 800px; */
  padding: 0 !important;
  text-align: center;
}

#article-body {
  max-width: 640px;
  /* 800 for A2J, 640 otherwise */
}

.form-select {
  margin: 0 50px;
  display: inline-block;
  position: absolute;
  font-size: 12pt;
  text-align: center;
  max-width: 40%;
  pointer-events: none;
}

.form-select option, .form-select input, .select-monthyear, .selectize-control, .selectize-control * {
  pointer-events: all;
}

.form-select label {
  font-weight: 100;
}

svg {
  z-index: 10;
}

.d3-container {
  text-align: left;
  width: 100%;
  line-height: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.a2j {
  background-color: #f3f3f3;
  color: black;
}

.source {
  color: black;
}

.years {
  display: flex;
  font-size: 12pt;
  width: 100%;
}

.year {
  width: 0px;
}

.a2j-bar {
  display: block;
  min-width: 100%;
  height: 4px;
  background-color: #B01116;
  color: #182538;
}

.dek {
  margin-top: 0.2em;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

.hed {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18pt;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.legend-box {
  font-size: 12pt;
  text-align: center;
  margin: 0 10px 1.5em 10px;
}

.legend {
  list-style: none;
  width: 70%;
  margin: 0;
  line-height: 1.5em;
  display: block;
  float: right;
}

.legend-box fieldset {
  width: 30%;
  display: block;
  float: left;
  margin: 0;
  /* pointer-events: none; */
}

/* .legend-box fieldset * {
  pointer-events: none;
}

.legend-box fieldset option {
  pointer-events: all;
} */
.legend li {
  margin: 0 5px;
  display: inline-block;
}

.legend-entry {
  margin: 0 5px;
  line-height: normal;
  display: inline;
  white-space: nowrap;
}

.legend-sq {
  display: inline-block;
  border: 1px solid black !important;
  width: 12pt !important;
  height: 12pt !important;
}

.citywide .legend-sq {
  background-color: #132a43;
}

.bronx .legend-sq {
  background-color: #6BA292;
}

.brooklyn .legend-sq {
  background-color: #ed6a5a;
}

.manhattan .legend-sq {
  background-color: #F9C80E;
}

.queens .legend-sq {
  background-color: #654f6f;
}

.staten .legend-sq {
  background-color: #56a9de;
}

.my-tooltip {
  /* pointer-events: none; */
  text-align: center;
  color: black;
  overflow: visible;
  position: absolute;
  /* width: 200px !important; */
  background-color: #f3f3f3;
  margin: 10px 0;
  border: 1px solid black;
  /* border-radius: 10px; */
  font-family: Arial, Helvetica, sans-serif;
  z-index: 500;
  font-size: 10pt;
}

.box-shadow-right {
  box-shadow: 3px 3px black;
}

.box-shadow-left {
  box-shadow: -3px 3px black;
}

#chart-1 .my-tooltip {
  width: 100% !important;
  position: relative;
}

.tooltip-container {
  padding: 0 15px;
}

.tooltip-whole {
  margin: 0 0 5px 0;
}

.quit {
  text-align: center;
  display: none;
  cursor: default;
  height: 0;
  margin-right: 5px;
  color: #777;
}

#tooltip-1 .quit {
  float: right;
  display: block;
  width: 2%;
  height: 12pt;
  right: 1.5px;
  top: 1.5px;
  position: absolute;
}

.my-tooltip h2 {
  font-size: 2em;
  padding: 4px 5px 0 5px;
}

.hood {
  margin: 0;
  padding: 0 5px 4px 5px;
  display: inline-block;
  width: 100%;
}

.timeframe {
  border-radius: 0 0 5px 5px;
  position: relative;
  padding: 0 10px 3px 10px;
  top: -1px
}

.timeframe::before {
  content: "";
  position: absolute;
  background-color: transparent;
  height: 10px;
  width: 5px;
  border-top-left-radius: 25px;
  box-shadow: 0 -5px 0 0 #654F6F;
  left: 100%;
}

.timeframe::after {
  content: "";
  position: absolute;
  background-color: transparent;
  height: 10px;
  width: 5px;
  border-top-right-radius: 25px;
  box-shadow: 0 -5px 0 0 #654F6F;
  right: 100%;
}

.stats {
  margin: 10px 0 0 0;
  padding: 0;
  display: inline-block;
}

.my-tooltip p {
  margin: 0;
}

.orange-text {
  color: #B01116;
}

svg {
  color: #373739;
  font-family: Arial, Helvetica, sans-serif;
}

.bottom {
  width: 100%;
  position: relative;
  display: inline-block;
}

/* #chart-1 .bottom {
  overflow: auto;
  display: flex;
  align-items: center;
} */
.source {
  display: inline-block;
  width: 75%;
  padding: 10px;
  font-size: 10pt;
}

.gfx-logo {
  display: inline-block;
  width: 25%;
  /* height: 100%; */
  text-align: right;
  padding: 0 10px;
  bottom: 0;
}

/* #chart-1 .gfx-logo {

  text-align: right;
  padding: 0 10px;

} */
.gfx-logo img {
  width: 100%;
  overflow: visible;
}

.chart {
  padding: 0;
  margin: 0;
}

/* Style the dots and lines by assigning a fill and stroke */
.line {
  fill: none;
  stroke-width: 3;
  pointer-events: none;
}

.dot {
  stroke: #fff;
  pointer-events: none;
}

.zipname .selectize-input, .countyname .selectize-input {
  max-height: 36px;
}

.selectize-control.single .selectize-input {
  /* height: 2.5em; */
}

.selectize-control {
  width: 200px;
  display: inline-block;
}

#chart-1 .chart svg {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .selectize-control {
    width: 300px !important;
  }
}

@media screen and (max-width: 410px) {
  #chart-1 .chart svg {
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .my-tooltip {
    min-width: 100% !important;
    max-width: 100% !important;
    position: relative !important;
    overflow: auto;
    margin-bottom: 30px;
    border-radius: 0px !important;
  }

  .quit {
    float: right;
    display: block;
    width: 0px;
    height: 12pt;
    right: 1.5px;
    top: 1.5px;
    position: absolute;
  }

  .form-select {
    margin: 0 25px !important;
    font-size: 10pt !important;
    text-align: left;
  }

  .mobile-legend {
    margin-top: 1em;
    text-align: center;
  }

  #gfx-logo {
    padding: 0 5px !important;
  }

  .years {
    font-size: 10pt;
  }
}